* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    left: 0;
    background-color: #dddddd;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#anima-div {
    background-image: url(../images/sprite_asmita.png);
    width: 500px;
    height: 276px;
    animation: anima-sprite 1s steps(20) infinite;
}

@keyframes anima-sprite {
    
    from { 
    background-position: 0px; 
}
    to {
        background-position: -10000px;
}

}